<ion-content [fullscreen]="true">
    <div id="bg">
      <ion-fab vertical="bottom"   horizontal="center" edge slot="fixed">
        <ion-fab-button color= "medium">
          <ion-icon name="arrow-back-outline" routerLink='/main'></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

  <div align="center" class="div1">
    <img src="./assets/icon/profile.png">
      <div align="center" class="div2">
        <ion-label>Lowela</ion-label><br>
        <ion-label>lowela@yahoo.com</ion-label><br>
        <ion-button shape="round" size="small" color="light">Edit Picture</ion-button><br>
      </div>
    </div>
</ion-content>