#bg {
  margin-top: -80px;
  height: 30%;
  background-color: #6f6c9e;
  border-radius: 0 0 60% 60%;
}
#bg2 {
  margin-top: -100%;
}
.btn{
  margin-top: -50px;
}

.div1{
  width: 90%;
  margin: 20vh 10vh -50vh 3vh;
  background-color: #6f6c9e;
  padding: 100px 1px;
  border-radius: 30% 30% 5% 5%;
}
img{
  display: block;
  border-radius: 50%;
  position: absolute;
  border: 8px solid #6f6c9e;
  background-color: #fff;
  width: 200px;
  margin-top: -60%;
  margin-left: 62px;
}
ion-button{
  margin-bottom: -40%;
  margin-right: -150px;
}
ion-label{
  font-size: 25px;
}
ion-content{
  background: whitesmoke;
}