<ion-toolbar fullscreen>
  <ion-title>Genre</ion-title>
</ion-toolbar>


<ion-content>

  
  
  
  <!--Choices of genre-->
  <div>
    <ion-label>
      Choose a genre that you 
      &nbsp;&nbsp;want to be recommended in &nbsp;&nbsp;your books
    </ion-label><br><br>
    <ion-grid>

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Adult Fiction
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Educational
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Horror
      </ion-col>&nbsp;<br><br>

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Historical
      </ion-col>&nbsp;
      
      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Science Fiction
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
       Mystery
      </ion-col>&nbsp;<br>

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Literary Fiction
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Adventure
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Comedy
      </ion-col><br><br>
      
      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Detective & Mystery
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Thriller
      </ion-col>&nbsp;<br><br>

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Mature
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        LGBTQ+
      </ion-col>&nbsp;

      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Young Adult
      </ion-col>&nbsp;<br><br>
      
      
      
      <ion-col><ion-checkbox color="light"></ion-checkbox>
        Paranormal
      </ion-col>&nbsp;


    </ion-grid>
</div>

<ion-button class="submit" type="button" color="medium" shape="round" [routerLink]="['/main']">Next</ion-button>

</ion-content>
